# 라이브러리 로드

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\leehb\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'

# 데이터 불러오기

In [7]:
esg = pd.read_csv("../data/ESG_KOSPI200_ca.csv")
stock = pd.read_csv("../data/KOSPI_STOCK.csv")

display(esg.head())
stock.head()

    종목코드     종목명 ESG등급  환경   사회 지배구조    평가년도  ESG등급_ca  환경_ca  사회_ca  지배구조_ca
0   3640   유니온스틸   B이하   B  B이하   B+  2014.0       2.0    3.0    2.0      5.0
1   3640   유니온스틸   B이하   B  B이하  B이하  2013.0       2.0    3.0    2.0      2.0
2   3640   유니온스틸   B이하   B  B이하   B+  2012.0       2.0    3.0    2.0      5.0
3   3640   유니온스틸   NaN   C  NaN  B이하  2011.0       NaN    1.0    NaN      2.0
4  64420  케이피케미칼     A  B+    A    A  2012.0       6.0    5.0    6.0      6.0

    종목코드       종목명     현재가   대비   등락률        거래대금(원)        상장시가총액(원)
0  25850  KPX화인케미칼  17,900   50  0.28     72,956,900   68,020,000,000
1  71970     STX메탈   5,660    0  0.00     62,721,280  126,218,000,000
2  17900       광전자   3,195  -10  0.31  2,235,709,160  185,130,322,785
3   1210      금호전기  25,050  550  2.24    657,408,900  173,247,077,550
4  84010      대한제강   6,440  130  2.06    203,772,180  154,592,019,680

In [8]:
esg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목코드      2224 non-null   int64
 1   종목명       2224 non-null   object
 2   ESG등급     2162 non-null   object
 3   환경        2194 non-null   object
 4   사회        2164 non-null   object
 5   지배구조      2119 non-null   object
 6   평가년도      2197 non-null   float64
 7   ESG등급_ca  2162 non-null   float64
 8   환경_ca     2194 non-null   float64
 9   사회_ca     2164 non-null   float64
 10  지배구조_ca   2119 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 191.2+ KB

In [10]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   종목코드       329 non-null    int64
 1   종목명        329 non-null    object
 2   현재가        329 non-null    object
 3   대비         329 non-null    object
 4   등락률        329 non-null    float64
 5   거래대금(원)    329 non-null    object
 6   상장시가총액(원)  329 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 18.1+ KB

In [16]:
print(esg.isnull().sum())
stock.isnull().sum()

종목코드          0
종목명           0
ESG등급        62
환경           30
사회           60
지배구조        105
평가년도         27
ESG등급_ca     62
환경_ca        30
사회_ca        60
지배구조_ca     105
dtype: int64

종목코드         0
종목명          0
현재가          0
대비           0
등락률          0
거래대금(원)      0
상장시가총액(원)    0
dtype: int64

## 종목코드 6자리

In [12]:
esg["종목코드"] = esg["종목코드"].apply(lambda  x : str(x).zfill(6))
stock["종목코드"] = stock["종목코드"].apply(lambda  x : str(x).zfill(6))

In [13]:
display(esg["종목코드"].head())
display(stock["종목코드"].head())

0    003640
1    003640
2    003640
3    003640
4    064420
Name: 종목코드, dtype: object

0    025850
1    071970
2    017900
3    001210
4    084010
Name: 종목코드, dtype: object

# 데이터 병합
종목코드로 merge

In [21]:
stock = stock.drop(columns="종목명")

In [23]:
df = pd.merge(esg, stock, how='left', on="종목코드")

In [24]:
df.head()

,종목코드,종목명,ESG등급,환경,사회,지배구조,평가년도,ESG등급_ca,환경_ca,사회_ca,지배구조_ca,현재가,대비,등락률,거래대금(원),상장시가총액(원)
0,003640,유니온스틸,B이하,B,B이하,B+,2014.0,2.0,3.0,2.0,5.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
1,003640,유니온스틸,B이하,B,B이하,B이하,2013.0,2.0,3.0,2.0,2.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
2,003640,유니온스틸,B이하,B,B이하,B+,2012.0,2.0,3.0,2.0,5.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
3,003640,유니온스틸,NaN,C,NaN,B이하,2011.0,NaN,1.0,NaN,2.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
4,064420,케이피케미칼,A,B+,A,A,2012.0,6.0,5.0,6.0,6.0,"14,150",50,0.35,"8,474,080,650","1,391,479,615,300"

# 파일로 저장

In [27]:
df.to_csv("../data/ESG_STOCK_MERGE.csv", index=None)

In [28]:
# 저장 확인
pd.read_csv("../data/ESG_STOCK_MERGE.csv").head()

,종목코드,종목명,ESG등급,환경,사회,지배구조,평가년도,ESG등급_ca,환경_ca,사회_ca,지배구조_ca,현재가,대비,등락률,거래대금(원),상장시가총액(원)
0,3640,유니온스틸,B이하,B,B이하,B+,2014.0,2.0,3.0,2.0,5.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
1,3640,유니온스틸,B이하,B,B이하,B이하,2013.0,2.0,3.0,2.0,2.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
2,3640,유니온스틸,B이하,B,B이하,B+,2012.0,2.0,3.0,2.0,5.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
3,3640,유니온스틸,NaN,C,NaN,B이하,2011.0,NaN,1.0,NaN,2.0,"16,100",-50,0.31,"11,414,500","165,186,000,000"
4,64420,케이피케미칼,A,B+,A,A,2012.0,6.0,5.0,6.0,6.0,"14,150",50,0.35,"8,474,080,650","1,391,479,615,300"